body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --seasalt: #f7f7f7ff;
    --timberwolf: #d0c7c4ff;
    --rust: #b24729ff;
    --ash-gray: #b5bca6ff;
    --feldgrau: #58665eff;
    --dark-slate-gray: #2b3d34ff;
    --night: #121312ff;
}

body {
    background-image: url('https://i.pinimg.com/564x/bd/d3/19/bdd319feedf8fd013280e88055896619.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 50px;
    font-size: 20px;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}


header {
    background-color: var(--rust);
    color: var(--seasalt);
}


article {
    background-color: var(--rust);
}

h1 {
    color: var(--seasalt);
}

h2 {
    color: var(--seasalt);
}

h3 {
    color: var(--seasalt);
}

p {
    color: var(--seasalt);
}

.container1 {
    width: 80%;
    margin: 0 auto;
    border: 1px var(--seasalt);
    text-align: center;
    background-color: var(--feldgrau);
    padding-bottom: 10px;
}

.container1 img {
    width: 100%;
}

#company {
    padding-top: 10px;
    align-items: center;
    text-align: center;
}


img {
    display: flex;
    width: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
}

.container2 {
    width: 85%;
    margin: auto;
    border: 1px var(--seasalt);
    background-color: var(--feldgrau);
    padding: 10px;
}

.container2 img {
    width: 90%;
    display: block;
    margin: 0 auto;
    border: 1px var(--seasalt);
}

.container2 p {
    margin-top: 10px;
}


.container3 {
    position: relative;
    width: 80%;
    height: 23em;
    margin: 50px auto 0;
    padding: 23px;
    border: 1px var(--seasalt);
    background-color: var(--feldgrau);
}

.container3 img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50em;
    height: 400px;
    padding-right: 50px;
    padding-top: 50px;
}


.map {
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: 0;
    padding-top: 20px;
}

.contact-info {
    flex-grow: 1;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-slate-gray);
    z-index: 999;
}

.logo, .nav-links {
    display: inline-block;
    height: 100%;
}

.logo img {
    width: 100%;
    height: 10vh;
}

.nav-link {
    display: inline-block;
    margin-right: 20px;
}

.nav-link a {
    display: block;
    text-decoration: none;
    color: var(--ash-gray);
    line-height: 10vh;
    padding-right: 10px;
    padding-left: 10px;
}

.nav-link a:hover {
    background-color: var(--seasalt);
    color: var(--night);
}

ol {
    text-align: center;
    margin: 0 auto;
}

.item1 {
    display: inline-block;
    width: 25%;
    height: 40%;
    padding: 20px 2em;
    border: 1px var(--seasalt);
    background-color: var(--feldgrau);

}

.item1 img {
    border: 1px var(--seasalt);
    width: 300px;
    height: 400px;
}

.clear-text {
    top: 0;
    opacity: 0.5;
    display: grid;
    text-align: left;
}

#navbar .clear-text {
    opacity: 1;
}


.item_text {
    text-align: left;
}

.spacer {
    height: 10em;
}

.small_spacer {
    height: 40px;
}
