body {font-family: 'Montserrat', sans-serif;}

:root {
    --seasalt: #f7f7f7ff;
    --timberwolf: #d0c7c4ff;
    --rust: #b24729ff;
    --ash-gray: #b5bca6ff;
    --feldgrau: #58665eff;
    --dark-slate-gray: #2b3d34ff;
    --night: #121312ff;
}
body{
    background-color: var(--timberwolf);
    padding-top: 55px;
}
header{
    background-color: var(--rust);
    color: var(--seasalt);
}
main{
    background-color: var(--ash-gray);
}
footer{
    background-color: var(--timberwolf);
}
p {color: var(--night);}
.container1 {
    width: 60%;
    margin: 0 auto;
}
.container1 h1{
    padding-top: 10px;
    align-items: center;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}
.container3 {
    width: auto;
    margin-left: auto;
    padding-right: 20px;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
}

.map {
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: 0;
    padding-top: 20px;
}

.contact-info {
    flex-grow: 1;
}
#navbar {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 5px 30px;
    width: 95%;
    background-color: var(--rust);
}

.logo{
    color:var(--seasalt);
}

.nav-links {
    margin-left: auto;
}

.nav-links a {
    text-decoration: none;
    color: var(--seasalt);
    margin-left: 20px;
}
